body.dark-mode {
  background-color: #000;
  color: #fff;
}
body.dark-mode .note-item {
  background-color: #333;
  color: black;
}

html{
    background-color: lightgray;
}


#to-do-list-section{
    min-height: 30vh;
}

/* Timer section */
#timer-section{
    min-height: 30vh;
   
}

/* Notes seciton */
#notes-section{
    min-height: 30vh;
    /* background-color: lightyellow; */
}
.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}